<div id="app">
  <v-app>
    <v-system-bar>
        Battle Game
      <v-spacer></v-spacer>
      <% if user_signed_in? %>
        <%= current_user.user_name %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        Waiting Login...
      <% end %>
    </v-system-bar>

    <h2>Sign up</h2>
    <v-card>
      <v-container>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :user_name %><br />
            <%= f.text_field :user_name, autofocus: true, autocomplete: "ユーザーネーム" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions">
            <%= f.submit "Sign up" %>
          </div>
        <% end %>
      </v-container>
    </v-card>

    <%= render "devise/shared/links" %>

  </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
    })
  </script>